################################################################################
# Paste following code to your .profile, .bash_profile or etc.
################################################################################
DEFAULT_HUB=
hub() {
  if [[ $1 = repositories ]]
  then
    shift
    hub-repositories $@
  else
    $DEFAULT_HUB $@
  fi
}
